<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="Library/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="CSS/style.css" rel="stylesheet" />
        <!-- We need to have a better icon -->
        <link rel="icon" type="image/png" href="Images/academy.png" />
        <title>ASW Website</title>
        <script src="Library/jquery-3.1.1.min.js"></script>
		<script src="Library/bootstrap/js/bootstrap.min.js"></script>
    </head>
    
    	